.container {
  margin: 0 auto;
  width: 720px;
	font-family: 'Open Sans', sans-serif;
}

.center {
  text-align: center;
  padding: 0;
}

.inline {
  display: inline;
  padding: 0em 0em 0em 3em;
  text-align: center;
}


header {
  border-bottom: 1px dotted grey;
  padding: 10px;
}

header ul {
list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}